<header>
    <div class="logo_sintro">
        <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 300">
            <defs>
                <style>
                    .cls-1 {
                        fill: #fff;
                    }

                    .cls-2 {
                        fill: #08f;
                    }
                </style>
            </defs>
            <title>Artboard 1</title>
            <path class="cls-1"
                d="M445.37,174.25a.57.57,0,0,0,.39-.2.55.55,0,0,0,.19-.39v-14a.55.55,0,0,0-.19-.39.57.57,0,0,0-.39-.2h-74a23.87,23.87,0,0,1-23.87-23.87v-14A23.87,23.87,0,0,1,371.4,97.35h89.23a2.85,2.85,0,0,1,2.84,2.83v17.71a2.57,2.57,0,0,1-.84,2,2.81,2.81,0,0,1-2,.78H371.4a.42.42,0,0,0-.34.2.64.64,0,0,0-.15.39v14a.64.64,0,0,0,.15.39.42.42,0,0,0,.34.2h74a23.88,23.88,0,0,1,23.87,23.87v14a23.88,23.88,0,0,1-23.87,23.87H356.14a2.84,2.84,0,0,1-2.74-2.73V177a2.84,2.84,0,0,1,2.74-2.74Z" />
            <path class="cls-1"
                d="M483.48,92.65a2.63,2.63,0,0,1-1.9-.83,2.7,2.7,0,0,1-.83-2V72.1a2.7,2.7,0,0,1,.83-2,2.59,2.59,0,0,1,1.9-.83h17.81a2.61,2.61,0,0,1,1.91.83,2.73,2.73,0,0,1,.83,2V89.81a2.74,2.74,0,0,1-.83,2,2.65,2.65,0,0,1-1.91.83ZM504,194.8a2.84,2.84,0,0,1-2.74,2.73H483.48a2.84,2.84,0,0,1-2.73-2.73V100.18a2.7,2.7,0,0,1,.83-2,2.59,2.59,0,0,1,1.9-.83h17.81a2.61,2.61,0,0,1,1.91.83,2.73,2.73,0,0,1,.83,2Z" />
            <path class="cls-1"
                d="M517.49,121.22a23.88,23.88,0,0,1,23.88-23.87h74a24.06,24.06,0,0,1,23.88,23.87V194.8a2.55,2.55,0,0,1-.84,1.95,2.77,2.77,0,0,1-2,.78H618.66a2.81,2.81,0,0,1-2-.78,2.58,2.58,0,0,1-.83-1.95V121.22a.92.92,0,0,0-.09-.39.88.88,0,0,0-.4-.1h-74c-.2,0-.33,0-.39.1a.53.53,0,0,0-.2.39V194.8a2.58,2.58,0,0,1-.83,1.95,2.79,2.79,0,0,1-2,.78H520.23a2.68,2.68,0,0,1-2.74-2.73Z" />
            <path class="cls-1"
                d="M689.07,197.53a23.88,23.88,0,0,1-23.88-23.87v-53H653.55a2.85,2.85,0,0,1-2-.78,2.6,2.6,0,0,1-.83-2V100.18a2.83,2.83,0,0,1,2.84-2.83h11.64V72a2.68,2.68,0,0,1,2.74-2.74h17.71a2.83,2.83,0,0,1,2,.78,2.58,2.58,0,0,1,.83,2V97.35h64.87a2.85,2.85,0,0,1,2.84,2.83v17.71a2.57,2.57,0,0,1-.84,2,2.81,2.81,0,0,1-2,.78H688.48v53a.53.53,0,0,0,.2.39.57.57,0,0,0,.39.2h64.28a2.73,2.73,0,0,1,2,.83,2.62,2.62,0,0,1,.84,1.91V194.8a2.6,2.6,0,0,1-.84,1.9,2.7,2.7,0,0,1-2,.83Z" />
            <path class="cls-1"
                d="M767.69,121.22a24.06,24.06,0,0,1,23.87-23.87h64.38a2.83,2.83,0,0,1,2.84,2.83v17.71a2.6,2.6,0,0,1-.83,2,2.83,2.83,0,0,1-2,.78H791.56a.57.57,0,0,0-.39.2.55.55,0,0,0-.19.39V194.8a2.66,2.66,0,0,1-.79,1.9,2.54,2.54,0,0,1-2,.83H770.53a2.73,2.73,0,0,1-2-.83,2.63,2.63,0,0,1-.83-1.9Z" />
            <path class="cls-1"
                d="M968.13,97.35A23.87,23.87,0,0,1,992,121.22v52.44a23.87,23.87,0,0,1-23.87,23.87h-74a23.87,23.87,0,0,1-23.87-23.87V121.22a23.87,23.87,0,0,1,23.87-23.87Zm-74,23.28a.71.71,0,0,0-.59.59v52.44a.71.71,0,0,0,.59.59h74a.57.57,0,0,0,.39-.2.55.55,0,0,0,.19-.39V121.22a.55.55,0,0,0-.19-.39.57.57,0,0,0-.39-.2Z" />
            <path class="cls-2"
                d="M210.23,93.42l28-27.3a55.18,55.18,0,0,0-50.7-33.52H68.07A55.17,55.17,0,0,0,13,87.7V207.18a55.18,55.18,0,0,0,55.11,55.11H187.54a55.18,55.18,0,0,0,55.11-55.11V137.1l-32.42,32.42v37.66a22.72,22.72,0,0,1-22.69,22.69H68.07a22.71,22.71,0,0,1-22.69-22.69V87.7A22.71,22.71,0,0,1,68.07,65H187.54A22.72,22.72,0,0,1,210.23,87.7Z" />
            <path class="cls-2"
                d="M291.43,75.48,150.8,216.11a17.07,17.07,0,0,1-24.18,0L63,152.49c-6.38-6.37-7.46-16.77-1.65-23.67a17.08,17.08,0,0,1,25.2-1.12l52,52a.18.18,0,0,0,.25,0l71.39-71.4,57.64-57.63a17.11,17.11,0,0,1,25.22,1.12C298.89,58.71,297.81,69.11,291.43,75.48Z" />
        </svg>
    </div>
</header>

<div class="container">

    <section class="sintroInfo">
        <div class="userInfo">
            <h1>USUÁRIOS CADASTRADOS</h1>
            <p>{{userCad}}</p>
        </div>
        <div class="packegesInfo">
            <h1>PACOTES COMPRADOS</h1>
            <div class="packegesNum">
                <div class="pistol">
                    <span>PISTOL</span>
                    <p>000</p>
                </div>
                <div class="shotgun">
                    <span>SHOTGUN</span>
                    <p>000</p>
                </div>
                <div class="barrett">
                    <span>BARRETT</span>
                    <p>000</p>
                </div>
            </div>
        </div>
    </section>

    <section class="editDelete">
        <form method="POST" action="" class="button">
            <button type="submit">DELETAR OU ALTERAR QUESTÃO</button>
        </form>
        <form method="POST" action="" class="button">
            <button>DELETAR OU ALTERAR MATÉRIA</button>
        </form>
    </section>

    <section class="addMateria">
        <form action="/admRoutes/registerMateria" method="POST">
            <h1>MATÉRIAS EXISTENTES</h1>
            <div class="materiaExist">
                {{#each materias}}
                    <div><span>{{name}}</span></div>
                {{else}}

                {{/each}}            
            </div>
            <div class="meteriaInner">
                <input type="text" name="materia" placeholder="Digite uma matéria" required>
                <button type="submit">ADICIONAR MATÉRIA</button>
            </div>
            <div class="errors">
                    {{#each errorsMateria}}
                    <div class="alert-error">{{text}}</div>
                    {{else}}
                    {{/each}}
            </div>
        </form>
    </section>

    <section class="addQuestion">
        <form action="/admRoutes/registerQuestion" method="POST">
            <div class="title">
                <h1>MATÉRIA DA QUESTÃO</h1>
                <p>Selecione a qual matéria a questão pertence.</p>
            </div>
            <div class="materiaExist">
                {{#each materias}}
                    <div><span id="{{_id}}">{{name}}</span></div>
                {{else}}

                {{/each}} 
            </div>
            <div class="title">
                <h1>TEXTO DA QUESTÃO</h1>
                <p>Insira somente o texto, não numere a questão</p>
            </div>
            <textarea name="textQuestion" placeholder="Digite aqui o enunciado da questão" rows="10"
                autocapitalize="sentences" required></textarea>
            <div class="title">
                <h1>RESPOSTAS DA QUESTÃO</h1>
                <p>Após inserir, marque a resposta CORRETA no quadrado direito</p>
            </div>
            <div class="answers_container">

                <div id="res1" class="response">
                    <label class="answers">
                        <input type="radio" name="question_selected">
                        <span class="checkmark"></span>
                    </label>
                    <input class="responseText" type="text" name="response1" placeholder="Digite a resposta">
                </div>

                <div id="res1" class="response">
                    <label class="answers">
                        <input type="radio" name="question_selected">
                        <span class="checkmark"></span>
                    </label>
                    <input class="responseText" type="text" name="response1" placeholder="Digite a resposta">
                </div>

                <div id="res1" class="response">
                    <label class="answers">
                        <input type="radio" name="question_selected">
                        <span class="checkmark"></span>
                    </label>
                    <input class="responseText" type="text" name="response1" placeholder="Digite a resposta">
                </div>
                
                <div id="res1" class="response">
                    <label class="answers">
                        <input type="radio" name="question_selected">
                        <span class="checkmark"></span>
                    </label>
                    <input class="responseText" type="text" name="response1" placeholder="Digite a resposta">
                </div>
                



            </div>
            <button type="submit">ADICIONAR QUESTÃO</button>
        </form>
    </section>
</div>